In [7]:
import pandas as pd
import numpy as np
from CDIN import CDIN as cd

In [12]:
data = pd.read_csv('data.csv')
data

C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9,12,15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174099,366091,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174100,365902,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174101,365903,2015,9,30,BUS,BUSINESS,CITATIONJET,A,226,49,...,1,1,0,0,0,0,0,0,0,0
174102,366046,2015,9,30,QXE,HORIZON AIR,DHC8 DASH 8,A,303,10,...,1,0,0,0,0,0,0,0,0,0
174103,365823,2015,9,30,AWI,AIR WISCONSIN AIRLINES,CRJ100/200,A,188,10,...,0,0,0,0,0,0,0,0,1,0

In [13]:
dqr = cd.dqr(data)
dqr

,Nombres,Tipo_dato,Datos_faltantes,Valores_únicos,Promedio,Valor_mínimo,Valor_máximo,Categorical
Record ID,Record ID,int64,0,174104,241204.036915,1000,367445,False
Incident Year,Incident Year,int64,0,26,2006.036392,1990,2015,False
Incident Month,Incident Month,int64,0,12,7.171840,1,12,False
Incident Day,Incident Day,int64,0,31,15.712264,1,31,False
Operator ID,Operator ID,object,0,539,NaN,1AAH,ZAN,True
...,...,...,...,...,...,...,...,...
Tail Damage,Tail Damage,int64,0,2,0.004176,0,1,False
Lights Strike,Lights Strike,int64,0,2,0.005962,0,1,False
Lights Damage,Lights Damage,int64,0,2,0.004216,0,1,False
Other Strike,Other Strike,int64,0,2,0.090727,0,1,False
Other Damage,Other Damage,int64,0,2,0.008989,0,1,False